<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="post" action="">
        {% csrf_token %}
        <table border="1" align="center" cellpadding ="2">
            <tr>
                <td>email</td>
                <td><input type="text" name="txt_email"  id=""required="" autocomplete="off"> </td>
            </tr>
            <tr>
                <td>password</td>
                <td><input type="password" name="txt_pass" id="" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td align="center" colspan="2"> <input type="submit" name="btn_sub" id="" value="login"></td>
                
            </tr>
        </table>

    </form>
</body>
</html>

{% if msg %}
<script>
    alert("{{msg}}");
</script>
{% endif %}