{%  extends 'FinanceHead/Head.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center">view loan apply</h2>
    <form method="post" action="">
    {% csrf_token %}
    <table border="1" align="center" cellpadding="3">
        <tr>
            <td>Sl.no</td>
            <td> document</td>
            <td>date</td>
            <td>loanname</td>
            <td>proof</td>
            <td>member name</td>
            <td>Action</td>
        </tr>
        {% for i in memdata %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>{{i.document}}</td>
            <td>{{i.apply_date}}</td>
            <td>{{i.loan_name.loan_name}}</td>
            <td>{{i.proof_name.proof_name}}</td>
            <td>{{i.member_name.member_name}}</td>
            <td>  {% if i.status == 1 %}
                Accepted | <a href="{% url 'FinanceHead:rejectloan' i.id %}">Reject</a>
                {% elif i.status == 2 %}
                Rejected | <a href="{% url 'FinanceHead:acceptloan' i.id %}">Accept</a>
                {% else %}
                 <a href="{% url 'FinanceHead:acceptloan' i.id %}">Accept</a>
                 <a href="{% url 'FinanceHead:rejectloan' i.id %}">Reject</a>
                 {% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
</html>
{% endblock content %}