<table align="center"  style="margin-bottom: 200px;" id="loan">
    <tr>
        {% for i in subcat %}
        <td>
            <div style="border:1px solid black;margin:20px;padding:10px">
              <p>Chitty Name : {{i.loan_name}}</p>
               <p>Chitty Details : {{i.loan_details}}</p>
               <p>Scheme Type : {{i.loan_type.loan_name}}</p>
               <a href="{% url 'Member:LoanApply' i.id %}">apply</a><br>
               
                   </div>
</td>
{% if forloop.counter|divisibleby:4 %}
</tr>
<tr>

    {% endif %}
    {% endfor %}
    </table>