<div class="container" id="loan">
    <div class="row justify-content-center" style="margin-bottom: 200px;">
        {% for i in subcat %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Loan Name: {{ i.loan_name }}</h5>
                        <p class="card-text">Loan Details: {{ i.loan_details }}</p>
                        <p class="card-text">Loan Type: {{ i.loan_type.loan_name }}</p>
                        <a href="{% url 'Member:LoanApply' i.id %}" class="btn btn-primary">Apply</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                </div><div class="row justify-content-center">
            {% endif %}
        {% endfor %}
    </div>
</div>
