<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <table border="3" cellpadding="10" align="center">
            <tr>
                <td>current password</td>
                <td><input type="password" id="" name="txt_pass" value="{{udata.password}}" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td>new password</td>
                <td><input type="password" id="" name="txt_new" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td>confirm password</td>
                <td><input type="password" id="" name="txt_cpass" required="" autocomplete="off"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit" id="" value="change">
                <input type="reset" name="btn_cancel" id="" value="cancel"></td>
               
            </tr>
        </table>

    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}");
</script>
{% endif %}