<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center">view chitty funding</h2>
    <form method="post" action="">
    {% csrf_token %}
    <table border="1" align="center" cellpadding="3">
        <tr>
            <td>Sl.no</td>
            <td> document</td>
            <td>chittydata</td>
            <td>proof</td>
          
          
        </tr>
        {% if datas %}
        {% for i in datas %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>{{i.document}}</td>
           
            <td>{{i.chitty_name.chitty_name}}</td>
           
            <td>{{i.proof_name.proof_name}}</td>
           
        </tr>
        {% endfor %}
        {% elif data %}

        {% for i in data %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>{{i.document}}</td>
            
            <td>{{i.chitty_name.chitty_name}}</td>
           
            <td>{{i.proof_name.proof_name}}</td>
            

        </tr>
        {% endfor %}
        {% else %}
        <p>no results</p>
        {% endif %}
    </table>
</form>
</body>
</html>