<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 align="center">view scholarship apply</h2>
    <form method="post" action="">
    {% csrf_token %}
    <table border="1" align="center" cellpadding="3">
        <tr>
            <td>Sl.no</td>
            <td> document</td>
            <td>date</td>
            <td>scholarshipname</td>
           
            <td>Action</td>
        </tr>
        {% if datas %}
        {% for i in datas %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>{{i.document}}</td>
            <td>{{i.date}}</td>
            <td>{{i.scholarship_name.scholarship_name}}</td>
          
            
            <td>reject/accept</td>
        </tr>
        {% endfor %}
        {% elif data %}

        {% for i in data %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>{{i.document}}</td>
            <td>{{i.date}}</td>
            <td>{{i.scholarship_name.scholarship_name}}</td>
            
         
            <td>reject/accept</td>
        </tr>
        {% endfor %}
        {% else %}
        <p>no results</p>
        {% endif %}
    </table>
</form>
</body>
</html>