<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="4" align="center" cellpadding="12">
            <tr>
                <td>ELECTION POSITION</td>
                <td><input type="text" name="txt_election" id="" value="{{edis.election_position}}"  required="" autocomplete="off"> </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_save " id="" value="submit">
                    <input type="reset" name="btn_cancel" id="" value="cancel">
                </td>
            </tr>
        </table>
    </form>
    <br><br><br><br>
    <table border="1" align="center" cellpadding="3">
        <tr>
            <td>sl.no</td>
            <td>election position</td>
            <td>Action</td>
        </tr>
        {% for i in electionposition %}
        <tr>
            
            <td>{{forloop.counter}}</td>
            <td>{{i.election_position}}</td>
            <td><a href="{% url 'Admin:del_election' i.id %}">Delete</a>
                <a href="{% url 'Admin:edit_election' i.id %}">edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>