<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <center><h1>Feedback</h1></center>
         {% if data %}
       <b> <center><h5>Member Feedback</h5></center></b> 
    <table border="1" align="center" cellpadding="10">
        <tr>
            <td>Sl.no</td>
            <td>Member Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Content </td>
           
        </tr>
       {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.member.member_name}}</td>
        <td>{{i.member.contact}}</td>
        <td>{{i.member.email}}</td>
        <td>{{i.content}}</td>
        
        
        
    </tr>
    {% endfor %}
    </table>
    {% endif %}
<br><br>
{% if data1 %}
<b><center><h5>Relative Feedback</h5></center></b>
    <table border="1" align="center" cellpadding="10">
        <tr>
            <td>Sl.no</td>
            <td> Name</td>
            <td>Contact</td>
            <td>Email</td>
            <td>Content </td>
          
        </tr>
       {% for i in data1 %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.relative.relative_name}}</td>
        <td>{{i.relative.contact}}</td>
        <td>{{i.relative.email}}</td>
        <td>{{i.content}}</td>
        
        
        
    </tr>
    {% endfor %}
    </table>
    {% endif %}
            
</form>
</body>
</html>